html,
body {
  padding: 0;
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px !important;
}

h4 {
  margin-top: 20px !important;
}

.top {
  text-align: center;
}

img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100px;
}

.number1 {
  line-height: normal;
  margin-bottom: 40px;
  min-width: 160px;
  line-height: 45%;
}

.number2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 40px;
  min-width: 200px;
  max-width: 350px;
}

.number3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 40px;
  min-width: 150px;
  max-width: 200px;
}

.selector {
  margin-top: 30px;
  position: relative;
  right: 50px;
  font-size: 12px;
  display: none;
}